//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L_BASE 0
#define L_SYM  1
#define L_NAV  2
#define L_ADJ  3
#define L_FUN  4

#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31
#define KEYS_THMBS 32 33 34 35 36 37

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <KEYS_R KEYS_THMBS>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <KEYS_L KEYS_THMBS>;
            hold-trigger-on-release;
        };

        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
        };

        combo_base {
            key-positions = <20 31>;
            bindings = <&to L_BASE>;
            layers = <L_FUN>;
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            display-name = "BASE";
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓        ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q   [ESC]   W     ┃     E     ┃     R     ┃     T     ┃        ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃  A (GUI)  ┃  S (ALT)  ┃  D (CTRL) ┃ F (SHIFT) ┃     G     ┃        ┃     H     ┃ J (SHIFT) ┃  K (CTRL) ┃  L (ALT)  ┃  ; (GUI)  ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃    TAB    ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃        ┃     N     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     '     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃   <NAV>   ┃   LSHFT   ┃ BACKSPACE ┃        ┃   ENTER   ┃   SPACE   ┃   <SYM>   ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛        ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                             &kp Q        &kp W        &kp E         &kp R        &kp T          &kp Y       &kp U        &kp I        &kp O        &kp P
                             &hml LGUI A  &hml LALT S  &hml LCTRL D  &hml LSHFT F &kp G          &kp H       &hmr RSHFT J &hmr RCTRL K &hmr LALT L  &hmr RGUI SEMI
                &kp TAB      &kp Z        &kp X        &kp C         &kp V        &kp B          &kp N       &kp M        &kp COMMA    &kp DOT      &kp FSLH       &kp APOS
                                                       &mo L_NAV     &skq LSHFT   &kp BSPC       &kp ENTER   &kp SPACE    &mo L_SYM
            >;
        };

        sym_layer {
            display-name = "SYM";
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓        ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     1   [ESC]   2     ┃     3     ┃     4     ┃     5     ┃        ┃     6     ┃     7     ┃     8     ┃     9     ┃     0     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃  ` (GUI)  ┃    ALT    ┃  { (CTRL) ┃ } (SHIFT) ┃           ┃        ┃           ┃ - (SHIFT) ┃  = (CTRL) ┃  # (ALT)  ┃  ; (GUI)  ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     ↑     ┃     \     ┃           ┃     [     ┃     ]     ┃           ┃        ┃           ┃           ┃     ↑     ┃     ↑     ┃     ↑     ┃     ↑     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃  [<ADJ>]  ┃     ↑     ┃     ↑     ┃        ┃     ↑     ┃     ↑     ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛        ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                             &kp N1       &kp N2       &kp N3        &kp N4       &kp N5        &kp N6       &kp N7       &kp N8       &kp N9       &kp N0
                        &hml LGUI GRAVE   &kp LALT  &hml LCTRL LBRC  &hml LSHFT RBRC  &none     &none  &hmr RSHFT MINUS  &hmr RCTRL EQUAL  &hmr LALT NUHS  &hmr RGUI SEMI
                &trans       &kp NUBS     &none        &kp LBKT      &kp RBKT     &none         &none        &none        &trans       &trans       &trans       &trans
                                                       &mo L_ADJ     &trans       &trans        &trans       &trans       &none
            >;
        };

        nav_layer {
            display-name = "NAV";
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓        ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃         [ESC]         ┃           ┃           ┃   PRTSC   ┃        ┃  VOL  UP  ┃           ┃    UP     ┃           ┃   PG UP   ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃    GUI    ┃    ALT    ┃   CTRL    ┃   SHIFT   ┃ PLAY/PAUSE┃        ┃   MUTE    ┃   LEFT    ┃   DOWN    ┃   RIGHT   ┃  PG DOWN  ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     ↑     ┃           ┃           ┃           ┃           ┃           ┃        ┃ VOL  DOWN ┃           ┃           ┃           ┃           ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃     ↑     ┃     ↑     ┃        ┃     ↑     ┃     ↑     ┃  [<ADJ>]  ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛        ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                            &none         &none        &none         &none        &kp PSCRN     &kp C_VOL_UP &none        &kp UP       &none        &kp PG_UP
                            &skq LGUI     &skq LALT    &skq LCTRL    &skq LSHIFT  &kp C_PP      &kp C_MUTE   &kp LEFT     &kp DOWN     &kp RIGHT    &kp PG_DN
                &trans      &trans        &none        &none         &none        &none         &kp C_VOL_DN &none        &none        &none        &none        &none
                                                       &none        &trans       &trans        &trans       &trans       &mo L_ADJ
            >;
        };

        adj_layer {
            display-name = "ADJ";
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓        ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃   BT  0 [ESC] BT  1   ┃   BT  2   ┃   BT  3   ┃   BT  4   ┃        ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃           ┃           ┃           ┃           ┃  BT  CLR  ┃        ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃           ┃           ┃           ┃           ┃        ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┃  [<FUN>]  ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃        ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛        ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                             &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3 &bt BT_SEL 4  &none        &kp F3       &kp F6       &kp F9        &kp F12
                             &none        &none        &none         &none        &bt BT_CLR    &none        &kp F2       &kp F5       &kp F8        &kp F11
                &none        &none        &none        &none         &none        &none         &none        &kp F1       &kp F4       &kp F7        &kp F10      &to L_FUN
                                                       &none         &none        &none         &none        &none        &none
            >;
        };

        fun_layer {
            display-name = "FUN";
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓        ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     `   [ESC]         ┃           ┃           ┃           ┃        ┃           ┃           ┃           ┃           ┃           ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃           ┃           ┃     Z     ┃     X     ┃     C     ┃        ┃           ┃           ┃           ┃           ┃           ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃  [<BASE>] ┃           ┃           ┃     Z     ┃     X     ┃     C     ┃        ┃           ┃           ┃           ┃           ┃           ┃  [<BASE>] ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫        ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃        ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛        ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                             &kp GRAVE    &none        &none         &none        &none         &none        &none        &none        &none         &none
                             &none        &none        &kp Z         &kp X        &kp C         &none        &none        &none        &none         &none
                &none        &none        &none        &kp Z         &kp X        &kp C         &none        &none        &none        &none         &none        &none
                                                       &none         &none        &none         &none        &none        &none
            >;
        };
    };
};
